{% extends "president/layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                <div class="list-group">
                    <a href="{{ url_for('president.info') }}" class="list-group-item">社团基本信息</a>
                  <a href="{{ url_for('president.verify') }}" class="list-group-item active">新社员审核</a>
                  <a href="{{ url_for('president.member_manage') }}" class="list-group-item">社员管理</a>
                  <a href="{{ url_for('president.activities') }}" class="list-group-item">活动管理</a>
                </div>
            </ul>
        </div>
        <div class="col-md-10">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>用户头像</th>
                        <th>用户名</th>
                        <th>审核操作</th>
                    </tr>
                </thead>
                <tbody>

                         {% for member in members %}
                            <tr>
                                <th><img src="{{ render_user_avatar(member) }}" class="img-rounded" style="width:40px;height:40px;"></th>
                                <td>{{ member.username }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{{ url_for('president.join_agree', user_id=member.id) }}" role="button">同意</a>
                                    <a class="btn btn-default" href="{{ url_for('president.join_deny', user_id=member.id) }}" role="button">否决</a>
                                </td>
                            </tr>
                         {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}