{% extends "president/layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                <div class="list-group">
                  <a href="{{ url_for('president.member_verify') }}" class="list-group-item active">新社员审核</a>
                  <a href="{{ url_for('admin.group_manage') }}" class="list-group-item">社员管理</a>
                  <a href="#" class="list-group-item">活动管理</a>
                </div>
            </ul>
        </div>
        <div class="col-md-10">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>社团名称</th>
                        <th>社团描述</th>
                        <th>创建者</th>
                        <th>创建时间</th>
                        <th>审核操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% if groups | length <= 0  %}
                    <tr>
                        <th>
                            暂时没有新创建的社团需要审核
                        </th>
                    </tr>

                    {% else %}
                         {% for group in groups %}
                            <tr>
                                <th>{{ group.id }}</th>
                                <td>{{ group.name }}</td>
                                <td>{{ group.description }}</td>
                                <td>{{ group.creator.username }}</td>
                                <td>{{ group.created_at }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{{ url_for('admin.group_agree', group_id=group.id) }}" role="button">通过审核</a>
                                    <a class="btn btn-default" href="{{ url_for('admin.group_deny',group_id=group.id) }}" role="button">否决</a>
                                </td>
                            </tr>
                         {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}