{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="page-header">
                  <h3><img class="img-rounded" src="{{ render_group_logo(activity.group) }}" style="height:50px; width:50px;">&nbsp;&nbsp;&nbsp;{{activity.title}}</h3>
                </div>
                <div class="setting-panel">
                    <div class="setting-group pull-left">
                        <label class="col-md-4">举办社团</label>
                        <p><a href="{{ url_for('group.show', group_id=activity.group.id) }}">{{ activity.group.name }}</a> </p>
                    </div>
                    <div class="setting-group pull-left">
                        <label class="col-md-4">活动地点</label>
                        <p>{{ activity.address }} </p>
                    </div>
                    <div class="setting-group pull-left">
                        <label class="col-md-4">活动时间</label>
                        <p>{{ activity.start_time }} 至 {{ activity.end_time }} </p>
                    </div>
                    <div class="setting-group pull-left">
                        <label class="col-md-4">活动详情</label>
                        <p>{{ activity.content }} </p>
                    </div>
                    <div class="setting-group pull-left">
                        <label class="col-md-4">已参与社员</label>
                        {% for user in activity.users %}
                            <img class="img-circle" src="{{ render_user_avatar(user) }}" style="height:50px; width:50px;">
                        {% endfor %}
                    </div>
                </div>
              </div>

                <div class="panel-footer" style="height:50px;">

                        {% if not current_user in activity.users %}
                            <a href="{{ url_for('activity.join', activity_id=activity.id) }}" class="btn btn-primary pull-right">参加活动</a>
                        {% else %}
                            <span class="label label-primary">你已经参加该活动</span>
                        {% endif %}

                </div>
            </div>

            <div class="panel panel-default">
                <div style="height:50px; font-size:20px;" class="panel-heading">
                    活动评论
                    {% if current_user in activity.users %}
                    <button class="btn btn-default pull-right modal-btn" data-modal="#reply-modal">发布评论</button>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for reply in activity.replies %}
                          <li class="list-group-item">
                            <div>
                                <img style="height:40px; width:40px;" class="img-circle" src="{{ render_user_avatar(reply.user) }}">
                                &nbsp;
                                <span style="font-weight:bold;font-size:18px;">{{ reply.user.username }}</span>
                            </div>
                              <p style="margin: 5px 40px; padding-top:5px; border-top:1px solid #eee">
                                  {{reply.content}}
                              </p>
                          </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>

<div id="reply-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">活动评论</h4>
      </div>
      <div class="modal-body">
            <form id="reply-form" action="{{ url_for('reply.new',activity_id=activity.id) }}" method="post">
              <div class="form-group">
                <label>活动详情</label>
                <textarea name="content" class="form-control" rows="6" style="resize:none"></textarea>
              </div>
                <input type="hidden" name="activityid" value="{{ activity.id }}">
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary submitBtn" data-form="#reply-form">发布</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
{% endblock %}
