{% extends "admin/layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                <div class="list-group">
                  <a href="{{ url_for('admin.admin_verify') }}" class="list-group-item">新社团审核</a>
                    <a href="{{ url_for('admin.category_manage') }}" class="list-group-item active">分类管理</a>
                  <a href="{{ url_for('admin.group_manage') }}" class="list-group-item">社团管理</a>
                  <a href="{{ url_for('admin.activities_manage') }}" class="list-group-item">活动管理</a>
                  <a href="{{ url_for('admin.user_manage') }}" class="list-group-item">用户管理</a>
                </div>
            </ul>
        </div>
        <div class="col-md-10">


            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>分类名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% if categories | length <= 0  %}
                    <tr>
                        <th>
                            还没有创建任何分类
                        </th>
                    </tr>

                    {% else %}
                         {% for category in categories %}
                            <tr>
                                <th>{{ category.id }}</th>
                                <td>{{ category.name }}</td>
                                <td>
                                    <a class="btn btn-danger" href="{{ url_for('category.delete', category_id=category.id) }}" role="button">删除分类</a>
                                </td>
                            </tr>
                         {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <div class="content-center-block" style="margin-top:15px;">
                <div class="btn-group" role="group">
                    <button class="btn btn-default modal-btn" data-modal="#category_create_modal">创建分类</button>
                </div>
            </div>
        </div>
    </div>


<div id="category_create_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">创建分类</h4>
      </div>
      <div class="modal-body">
            <form id="category-create-form" action="{{ url_for('category.new') }}" method="post">
              <div class="form-group">
                <label>分类名称</label>
                <input type="text" class="form-control"  name="name" >
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary submitBtn" data-form="#category-create-form">创建</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}