{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-6" style="color:#fff; height:500px; text-align: center; border:1px dashed #fff;">
            <h1 style="margin-top:200px;">活动板块开发中</h1>
        </div>
        <div class="col-md-5 col-md-offset-1" style="color:#e5e5e5;">
            <h4 style="">最新加入的成员</h4>
            {% for user in users %}
            <a style="margin:5px;" href="{{ url_for('user.homepage',user_id=user.id) }}"><img class="img-circle" src="{{ render_user_avatar(user) }}" style="width:50px; height:50px;"></a>
            {% endfor %}
            <h4 style="margin-top:30px;">最新创建的社团</h4>
            {% for group in groups %}
            <a style="margin:5px;" href="{{ url_for('group.show',group_id=group.id) }}"><img class="img-circle" src="{{ render_group_logo(group) }}" style="width:50px; height:50px;"></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}