{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#owned" aria-controls="owned" role="tab" data-toggle="tab">创建的小组</a></li>
            <li role="presentation"><a href="#admined" aria-controls="profile" role="tab" data-toggle="tab">参与管理的小组</a></li>
            <li role="presentation"><a href="#joined" aria-controls="messages" role="tab" data-toggle="tab">加入的小组</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="owned">
                <div class="row">

                {% if current_user.owned_groups | length > 0 %}
                    {% for group in current_user.owned_groups %}
                        <div class="media col-md-12" style="height:70px;">
                          <div class="media-left">
                            <a href="#">
                              <img style="height:60px; width:60px;" class="media-object" src="{{ render_group_logo(group) }}" alt="">
                            </a>
                          </div>
                          <div class="media-body">
                            <div class="media-heading"><span><strong>{{ group.name }}</strong></span></h5>
                                <span>
                                    小组成员（{{ group.members.all() | length }}）
                                </span>
                            </div>
                            <p class="pull-left">
                                <span>{{ group.description }}</span>
                                <span>
                                    <strong>管理员</strong>
                                    {% for admin in group.admins %}
                                        <img class="img-circle" style="height:40px; width:40px;" src="{{ render_user_avatar(admin) }}" title="{{ admin.username }}">
                                    {% endfor %}
                                </span>
                            </p>
                              <div class="pull-right">
                                    <a href="{{ url_for('group.show', group_id=group.id) }}" class="btn btn-default">进入小组</a>
                                    <a href="{{ url_for('group.admin', group_id=group.id) }}" class="btn btn-primary">管理</a>
                              </div>
                          </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-8 col-md-offset-2">
                        <div class="content-center-block">
                            <div class="accordion-wrap">
                                <h5></h5>
                                <button  class="btn btn-primary accordion-trigger">创建小组</button>
                            </div>
                            <div class="accordion-content content-center-block">
                                <div class="page-header">
                                    <h3>创建小组 <small>物以类聚，人以组分 </small></h3>
                                </div>
                                <form id="new-group-form2" class="form-horizontal" action="{{ url_for('group.new') }}" method="POST">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form.name(placeholder=form.name.label.text, class_='form-control')}}
                                            {% if form.name.errors %}
                                                {% for error in form.name.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form.description(placeholder=form.description.label.text, rows=6, class="col-md-12", style='resize: none;')}}
                                        </div>
                                    </div>
                                    {{ form.csrf_token }}
                                </form>
                                <button class="btn btn-primary col-md-4 col-md-offset-2 submitBtn" data-form="#new-group-form">创建小组</button>
                                <button class="btn col-md-4 accordion-dismiss">取消</button>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="col-md-8 col-md-offset-2">
                        <div class="content-center-block">
                            <div class="accordion-wrap">
                                <h3>你还没有创建过小组<br>现在就创建一个小组吧</h3>
                                <button  class="btn btn-primary accordion-trigger">创建小组</button>
                            </div>
                            <div class="accordion-content content-center-block">
                                <div class="page-header">
                                    <h3>创建小组 <small>物以类聚，人以组分 </small></h3>
                                </div>
                                <form id="new-group-form" class="form-horizontal" action="{{ url_for('group.new') }}" method="POST">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form.name(placeholder=form.name.label.text, class_='form-control')}}
                                            {% if form.name.errors %}
                                                {% for error in form.name.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form.description(placeholder=form.description.label.text, rows=6, class="col-md-12", style='resize: none;')}}
                                        </div>
                                    </div>
                                    {{ form.csrf_token }}
                                </form>
                                <button class="btn btn-primary col-md-4 col-md-offset-2 submitBtn" data-form="#new-group-form">创建小组</button>
                                <button class="btn col-md-4 accordion-dismiss">取消</button>
                            </div>
                        </div>

                    </div>
                {% endif %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="admined">...</div>
          </div>

        </div>
    </div>

{% endblock %}