{% extends "layout.html" %}

{% block stylesheets %}
{{ super() }}
<link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading content-center-block"><h1>{{ group.name }}</h1></div>
                  <div class="panel-body">
                    <div class="setting-panel col-md-12">
                                 <div class="setting-group pull-left">
                                     <label class="col-md-4">是否为私有社团</label>
                                     <div class="setting-wrap col-md-8">
                                         <input type="checkbox" class="ai" name="private" {% if group.private %}checked{% endif %}
                                                data-amsid="#private-ams" data-url="{{ url_for('group.set_private',group_id=group.id) }}" data-on-text="是" data-off-text="否">
                                         <span id="private-ams" class="ams"></span>
                                     </div>
                                </div>
                                <div class="setting-group pull-left">
                                    <label class="col-md-4" style="line-height:70px;">社团图标</label>
                                    <div class="setting-wrap col-md-8">
                                        <img class="img-rounded" src="{{ render_group_logo(group) }}" style="height:70px; width:70px;">
                                        <button class="btn btn-primary fake-file" data-file="#logo-file" style="margin-left:20px;"><i class="fa fa-camera-retro"></i></button>
                                        <form class="hidden" enctype="multipart/form-data" action="{{ url_for('group.set_logo',group_id=group.id) }}" method="POST">
                                            <input id="logo-file" class="auto-file" type="file" name="logo">
                                        </form>
                                    </div>
                                </div>
                                <div class="setting-group pull-left">
                                    <label class="col-md-4">社团介绍</label>
                                    <div class="accordion-wrap col-md-8">
                                        <p class="col-md-9">
                                            {{ group.description }}
                                        </p>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary accordion-trigger"><i class="fa fa-pencil"></i></button>
                                        </div>
                                    </div>
                                    <div class="accordion-content col-md-8">
                                        <form id="group-description-form" class="form-horizontal" action="{{ url_for('group.set_description', group_id=group.id) }}" method="POST">
                                            <textarea name="description" rows="5" class="col-md-12" style="margin-bottom: 15px;">{{ group.description }}</textarea>
                                        </form>
                                        <button class="btn btn-primary col-md-4 col-md-offset-2 submitBtn" data-form="#group-description-form">修改</button>
                                        <button class="btn col-md-4 accordion-dismiss">取消</button>
                                    </div>
                                    </div>
                                </div>

                            </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading content-center-block"><h3>社团成员管理</h3></div>
                        <div class="panel-body">
                            <h4>社团管理员</h4>
                            <ul class="list-group">
                                {% for admin in group.admins %}
                                <li class="list-group-item">
                                    <img class="img-circle" style="height:50px; width:50px;" src="{{ render_user_avatar(admin) }}">
                                    <span>{{ admin.username }}</span>
                                    {% if not admin.id == group.creator_id and current_user.id == group.creator_id %}
                                         <button class="ga-a2m-btn btn btn-danger" data-groupid="{{group.id}}" data-userid="{{admin.id}}" style="display:inline-block; float: right;">取消管理员身份</button>
                                    {% endif %}

                                </li>
                                {% endfor %}
                            </ul>
                            <h4>社团成员</h4>
                            <ul class="list-group">
                                {% for member in group.members.all() %}
                                {% if not member in group.admins %}
                                <li class="list-group-item" style="line-height:60px; vertical-align:middle;">
                                    <img class="img-circle" style="height:50px; width:50px;" src="{{ render_user_avatar(member) }}">
                                    <span>{{ member.username }}</span>

                                    <button class="ga-m2a-btn btn btn-primary" data-groupid="{{ group.id }}" data-userid="{{ member.id }}" style="display: inline-block; float: right;">提升为管理员</button>
                                    <button class="ga-d-m-btn btn btn-danger" data-groupid="{{ group.id }}" data-userid="{{ member.id }}" style="display: inline-block; float: right;">移除社团</button>

                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/group-admin.js') }}"></script>
{% endblock %}