{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 col-md-offset-1">
                <ul class="list-group">
                    <div class="list-group">
                      <a href="{{ url_for('group.cate',cate_id=0) }}" class="list-group-item {% if cate_id==0 %}active{% endif %}">所有社团</a>
                        {% for category in categories  %}
                            <a href="{{ url_for('group.cate',cate_id=category.id) }}" class="list-group-item {% if category.id == cate_id %}active{% endif %}">{{ category.name }}</a>
                        {% endfor %}

                    </div>
                </ul>
            </div>
            <div class="col-md-8">
                {% for group in groups %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><img class="img-rounded" src="{{ render_group_logo(group) }}" style="height:50px; width:50px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="font-weight: bold">{{ group.name }}</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>社团成员:&nbsp;{{ group.members.all() | length }}</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>社团活动:&nbsp;{{ group.activities.all() | length }}</span>
                            </p>
                            <p style="margin-left: 70px;">
                                {{ group.description }}
                            </p>

                        </div>
                        <div class="panel-footer">
                            &nbsp;&nbsp;<img class="img-rounded" src="{{ render_user_avatar(group.creator) }}" style="height:30px; width:30px;">&nbsp;{{ group.creator.username }}(社长)
                            <a href="{{ url_for('group.show',group_id=group.id) }}" class="btn btn-primary pull-right">查看社团</a>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}